[Unit]
Description=watchdog-ddns-server Service
After=network.target

[Service]
Type=simple
ExecStart=/opt/watchdog-ddns/watchdog-ddns-server
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
